* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
  font-family: 'Zen Antique', sans-serif;
}

body {
  background-color: #343451;
  background-image: url(/img/hanabishi_background.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

header {
  text-align: center;
  margin-bottom: 2em;
  display: flex;
  flex-flow: column;
  gap: 1em;
}

#err {
  color: lightcoral;
}

.progress-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 8em;
  gap: 1em;
}

.progress {
  width: 30vw;
  max-height: 6em;
  max-width: 6em;
  height: 30vw;
  border-radius: 50%;
  border: 1px solid white;
}

.grow {
  background: radial-gradient(circle, rgba(255, 255, 255, 0.4), transparent);
  position: relative;
  animation: glow 2s linear infinite;
}

@keyframes glow {
  0%,
  100% {
    box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.8);
  }
  50% {
    box-shadow: 0 0 20px 5px rgba(255, 255, 255, 0.8);
  }
}

.recipe {
  display: flex;
  flex-flow: column nowrap;
  gap: 2em;
  justify-content: center;
  align-items: center;
}

.type-list {
  min-height: 10em;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.type-tile {
  width: 8em;
  height: 8em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  border: 4px solid transparent;
}

.type-tile.selected {
  border: 8px solid white;
}

.type-tile img {
  width: 80%;
  height: 80%;
  object-fit: contain;
}

.type-tile p {
  margin-top: 4px;
  margin-bottom: 4px;
}

.type-tile.selected img {
  width: 70%;
  height: 70%;
  object-fit: contain;
}

.color-list {
  margin: 0 1em;
  min-height: 8em;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.color-tile {
  width: 6em;
  height: 6em;
  border-radius: 50%;
  border: 4px solid transparent;
}

.color-tile.selected {
  border: 8px solid white;
}

.progress img {
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0);
  visibility: hidden;
}

.button-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  margin-bottom: 4em;
}
